<section>
  <div>
    <header>
      <span>
        <h1></h1>
        <button (click)="changeMe()">Alterar Titulo</button>
      </span>
      
    </header>

    <div>
      <section>
        <h3>MY simple Tasks</h3>
      <ul>
        <li *ngFor="let task of tasks">{{task.index}} | {{task.title}} -

          <button *ngIf="!task.done" (click)="doneTask(task)">
            Done task
          </button> | 

          <button (click)="deleteTask(task)">
            Delete task
          </button> 

          <button *ngIf="task.done" (click)="undoneTask(task)">
            Do Again
          </button></li>
      </ul>
      </section>
      
      <section>

        <form [formGroup]="form">
          <fieldset>
            <label>Task: </label>
            <input type="text" placeholder="Write some task today =)" formControlName="title"><br>
            <small *ngIf="form.controls.title.invalid && !form.controls.title.pristine" >The task must have 3 characters to 90.</small>
          </fieldset>          
        </form>

      </section>
    </div>

    <footer>

    </footer>
  </div>
</section>