body {
    margin: 0px;
    padding: 0px;
    
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #008cff77;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(6, 0, 188, 0.288);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}